.circle-roulete {
  height: 350px;
  width: 350px;
  border: 15px solid #f5ad11;
  position: relative;
  overflow: hidden;
  transition: 5s;
  border-radius: 50%;
  padding: 0;
}

.canva-roulete {
  max-width: 100%;
  height: auto;
}
.second-roulete{
  height: 235px;
  width: 235px;
  border-radius: 50%;
  z-index: 1000;
  position: absolute;
  top:14%;
  right: 13%;
  border: 4px solid white;
}
.third-roulete{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: goldenrod;
  z-index: 1000;
  position: absolute;
  top:43%;
  right: 43%;
  border: 4px solid white;
}
#text {
  margin-top: 20px;
}

#spin_btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
  canvas {
    width: 100%;
  }
}

.game-roulete-bg {
  background-color: #2a1758;
  width: fit-content;
  padding: 10px 25px;
  border-radius: 10px;
}