.link {
    text-decoration: none;
}

/* login page center div css start*/
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.box12 {
    border: 1px solid rgb(177, 152, 248);
    border-radius: 15px;
    background-color: rgb(57, 28, 98);
    padding: 30px;
}

.input-area {
    border-radius: 10px !important;
    border: 1px solid rgba(177, 152, 248, 0.3) !important;
    background-color: rgba(95, 55, 152, 0.2) !important;
    padding-left: 20px !important;
}
.color-red{
    color: red;
}
/* login page center div css end*/

/* extra css start*/

/* index page games section */
.top-bottom-padding{
    padding-top: 50px;
    padding-bottom: 50px;
}
.games-img-border-radius{
    border-radius: 30px;
}
.show-game-all-section-img{
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
}
.admin-game-play-section-icon{
    background-color: #e6497d;
    color: white;
    border-radius: 50%;
    font-size: 50px;
    cursor: pointer;

}
.pop-font{
    font-family: poppins;
}
.color-white{
    color: white;
}
.pop-font-size{
    font-size: 3rem;
}
.pop-font-size2{
    font-size: 3.5rem;
}
.pop-font-size3{
    font-size: 1.5rem;
}
.pop-font-size4{
    font-size: 4rem;
}
.pop-font-size5{
    font-size: 2rem;  
}
.pop-font-size6{
    font-size: 2.5rem;   
}
.pop-font-size7{
    font-size: 2.4rem;   
}
.pop-font-size8{
    font-size: 1.9rem;   
}
.pop-font-size9{
    font-size: 3.3rem;
}
.pop-font-weight{
   font-weight: 600;
}
.pop-font-weigh2{
    font-weight: 700;
 }
 .pop-font-weigh3{
    font-weight: 550;
 }
.pop-font-weight1{
    font-weight: 400;
 }
/* extra css end */
/* extra admin css start*/
.admin-broder-rbg{
    background-color: #201048;
    border-radius: 10px;
}
.admin-table-padding1{
    padding: 12px 30px;
}
.admin-table-borderradius{
    border-radius: 10px;
}
.admin-broder-rbg2{
    background-color: #3a2372;
    border-radius: 10px;
    padding: 12px 30px;
}
.admin-toggle-password-button{
    position: absolute;
    top: 6px;
    right: 10px;
    background-color: transparent;
    color: white;
}

/* extra admin css end */
/* set Loader */

.loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
